In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [33]:
df = pd.read_csv("../../data/raw_data/driver_imgs_list.csv")

In [34]:
print(df.head())

  subject classname            img
0    p002        c0  img_44733.jpg
1    p002        c0  img_72999.jpg
2    p002        c0  img_25094.jpg
3    p002        c0  img_69092.jpg
4    p002        c0  img_92629.jpg

In [35]:
print(df.describe())

       subject classname            img
count    22424     22424          22424
unique      26        10          22424
top       p021        c0  img_44733.jpg
freq      1237      2489              1

In [36]:
print(df.dtypes)

subject      object
classname    object
img          object
dtype: object

In [37]:
path = "../../data/raw_data/imgs/train/" + str(df['classname']) + "/" + str(df['img'])
# img = plt.imread(path)
# plt.imshow(img)

In [38]:
df['full_path'] = df.classname + "/" + df.img

In [39]:
df.head()

  subject classname            img         full_path
0    p002        c0  img_44733.jpg  c0/img_44733.jpg
1    p002        c0  img_72999.jpg  c0/img_72999.jpg
2    p002        c0  img_25094.jpg  c0/img_25094.jpg
3    p002        c0  img_69092.jpg  c0/img_69092.jpg
4    p002        c0  img_92629.jpg  c0/img_92629.jpg

In [40]:
df.to_csv("../../data/raw_data/driver_imgs_path.csv", index=False)